<ng-template [appLoadingObservables]="[skillLoaded]">

<div class="l-stickySidebar l-container">
  <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">


  <div class="l-stickySidebar-x-content t-verticalSpacing-medium-top-padding">
<!--    {{render '@formcard'}}-->

    <app-formfield-text
      [control]="skillForm.controls.skillName"
      label="Skill Name (Required)"
      placeholder="Health Education Development"
      required="true"
    >
    </app-formfield-text>

    <app-formfield-text
      [control]="skillForm.controls.author"
      label="Author (Required)"
      required="true"
    ></app-formfield-text>

    <app-formfield-textarea
      [control]="skillForm.controls.skillStatement"
      required="true"
      label="Skill Statement (Required)"
      placeholder="Develop education programs to improve health outcomes for patient populations."
      helpMessage="A skill statement is a string that expresses information about who the skill applies to, the nature of the skill itself, and the context in which it is applied."
    ></app-formfield-textarea>

    <app-formfield-text
      [control]="skillForm.controls.category"
      label="Category"
      placeholder="Health Education"
      helpMessage="A term that can be used to group multiple skills."
    ></app-formfield-text>

    <app-formfield-textarea
      [control]="skillForm.controls.keywords"
      label="Keywords"
      placeholder="Health Education; Education Program Development; Heath Instruction; Health Outcome Improvement; Health Education Design"
      helpMessage="Add topic terms separated by semicolon."
    ></app-formfield-textarea>

    <app-formfield-textarea
      [control]="skillForm.controls.standards"
      label="Standards"
      placeholder="Health Education Standards"
      helpMessage="Often sourced from research and Subject Matter Experts."
    ></app-formfield-textarea>

    <app-formfield-textarea
      [control]="skillForm.controls.certifications"
      label="Certifications"
      placeholder="Health Education Specialist (Society for Public Health Education)"
      helpMessage="Often sourced from research and Subject Matter Experts."
    ></app-formfield-textarea>

    <app-formfield-textarea
      [control]="skillForm.controls.occupations"
      label="Occupations"
      placeholder="29-1071; 11-9111; 25-1072; 29-1141; 29-1171"
      helpMessage="Numeric job codes from BLS or O*NET separated by a semicolon."
    ></app-formfield-textarea>

    <app-formfield-text
      [control]="skillForm.controls.employers"
      label="Employers"
      placeholder="Sample Company; Test Company"
      helpMessage="Often sourced from research and Subject Matter Experts."
    ></app-formfield-text>

    <app-formfield-text
      [control]="skillForm.controls.alignmentText"
      label="Alignment Text"
      placeholder="Health Education"
      helpMessage="Often sourced from research and Subject Matter Experts."
    ></app-formfield-text>

    <app-formfield-text
      [control]="skillForm.controls.alignmentUrl"
      label="Alignment URL"
      placeholder="https://skills.emsidata.com/skills/KS124MT6ZDZLF0M8JM6X"
      helpMessage="A URI, often sourced from research and Subject Matter Experts."
    ></app-formfield-text>
  </div>


  <div class="l-stickySidebar-x-sidebar">
    <div class="l-stickySidebar-x-sidebarContent t-verticalSpacing-medium-top-padding">
      <div class="m-actionBarVertical">
        <div class="t-verticalSpacing-small t-hidden-maxdesktop">
          <app-formfield-submit
            [formGroup]="skillForm"
            [observables]="[skillSaved]"
            (errorsOccurred)="handleFormErrors($event)"
          ></app-formfield-submit>
        </div>
        <div class="m-actionBarVertical-x-item t-verticalSpacing-small t-hidden-maxdesktop">

          <button class="m-buttonText m-buttonText-icon" (click)="handleClickCancel()">
            <svg class="button-x-icon t-icon">
              <use xlink:href="/images/svg-defs.svg#icon-dismiss"></use>
            </svg>
            <span class="button-x-text">Cancel</span>
          </button>

        </div>

        <p *ngIf="!skillForm.valid">You need to enter additional information. Go to <a href="">first required missing field</a>.</p>

      </div>
    </div>
  </div>


  </form>
</div>

</ng-template>
