<ng-template [appLoadingObservables]="[skillLoaded]">
<form [formGroup]="skillForm" (ngSubmit)="onSubmit()">

<div class="l-stickyBar">
  <div class="l-stickySidebar l-container">

    <div class="l-stickySidebar-x-content t-padding-medium t-padding-top">
      <!-- @formcard -->
      <div class="m-skillBackground">

        <div class="t-margin-medium t-margin-bottom">
          <!-- {{render '@m-icontitle'}} -->
          <h3 class="m-iconTitle">
            <div class="m-iconTitle-x-icon">
              <svg class="t-icon" aria-hidden="true">
                <use xlink:href="/assets/images/svg-defs.svg#icon-doc"></use>
              </svg>
            </div>
            <div class="m-iconTitle-x-label">{{pageTitle()}}</div>
          </h3>
        </div>


        <app-formfield-text
          [control]="skillForm.controls.skillName"
          name="skillName"
          label="Skill Name"
          placeholder="Health Education Development"
          [includePlaceholder]="!this.skillUuid"
          required="true"
        >
        </app-formfield-text>

        <app-formfield-text *ngIf="showAuthor()"
          [control]="skillForm.controls.author"
          name="author"
          label="Author"
          required="true"
        ></app-formfield-text>

        <app-formfield-textarea
          [control]="skillForm.controls.skillStatement"
          required="true"
          name="skillStatement"
          label="Skill Statement"
          placeholder="Develop education programs to improve health outcomes for patient populations."
          [includePlaceholder]="!this.skillUuid"
          helpMessage="A skill statement is a string that expresses information about who the skill applies to, the nature of the skill itself, and the context in which it is applied."
        ></app-formfield-textarea>

        <app-formfield-text
          [control]="skillForm.controls.category"
          label="Category"
          name="category"
          placeholder="Health Education"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="A term that can be used to group multiple skills."
        ></app-formfield-text>

        <app-formfield-textarea
          [control]="skillForm.controls.keywords"
          label="Keywords"
          name="keywords"
          placeholder="Health Education; Education Program Development; Heath Instruction; Health Outcome Improvement; Health Education Design"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="Add topic terms separated by semicolon."
        ></app-formfield-textarea>

        <app-skill-collections-display
          *ngIf="this.skillUuid"
          [control]="skillForm.controls.collections"
          label="Collections"
          name="collections"
        ></app-skill-collections-display>



        <app-formfield-textarea
          [control]="skillForm.controls.standards"
          label="Standards"
          name="standards"
          placeholder="Health Education Standards"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="Often sourced from research and Subject Matter Experts."
        ></app-formfield-textarea>

        <app-formfield-textarea
          [control]="skillForm.controls.certifications"
          label="Certifications"
          name="certifications"
          placeholder="Health Education Specialist (Society for Public Health Education)"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="Often sourced from research and Subject Matter Experts."
        ></app-formfield-textarea>

        <app-formfield-textarea
          [control]="skillForm.controls.occupations"
          label="Occupations"
          name="occupations"
          placeholder="29-1071; 11-9111; 25-1072; 29-1141; 29-1171"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="Numeric job codes from BLS or O*NET separated by a semicolon."
        ></app-formfield-textarea>

        <app-formfield-text
          [control]="skillForm.controls.employers"
          label="Employers"
          name="employers"
          placeholder="Sample Company; Test Company"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="Often sourced from research and Subject Matter Experts."
        ></app-formfield-text>

        <app-formfield-text
          [control]="skillForm.controls.alignmentText"
          label="Alignment Text"
          name="alignmentText"
          placeholder="Health Education"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="Often sourced from research and Subject Matter Experts."
        ></app-formfield-text>

        <app-formfield-text
          [control]="skillForm.controls.alignmentUrl"
          label="Alignment URL"
          name="alignmentUrl"
          placeholder="https://skills.emsidata.com/skills/KS124MT6ZDZLF0M8JM6X"
          [includePlaceholder]="!this.skillUuid"
          helpMessage="A URI, often sourced from research and Subject Matter Experts."
          errorMessage="Please provide a valid URL."
        ></app-formfield-text>

      </div>
    </div>


    <div class="l-stickySidebar-x-sidebar">
      <div class="l-stickySidebar-x-sidebarContent t-padding-medium t-padding-top">
        <!-- @l-actionbarvertical--with-message -->
        <div class="l-actionBarVertical">

          <div class="l-actionBarVertical-x-action">
            <app-formfield-submit
              [formGroup]="skillForm"
              [observables]="[skillSaved]"
              (errorsOccurred)="handleFormErrors($event)"
            ></app-formfield-submit>
          </div>

          <nav class="m-quickLinks" aria-labelledby="save-quicklinks">
            <h3 class="t-visuallyHidden" id="save-quicklinks">Quick Links</h3>
            <a (click)="scrollToTop()">Back to top</a>
          </nav>

          <a class="m-actionBarItem" (click)="handleClickCancel()">
            <span class="m-actionBarItem-x-icon">
              <svg class="t-icon" aria-hidden="true">
                <use xlink:href="assets/images/svg-defs.svg#icon-dismiss"></use>
              </svg>
            </span>
            <span class="m-actionBarItem-x-text">Cancel</span>
          </a>

          <div class="m-actionBartVertical-x-message" *ngIf="!skillForm.valid">
            <p>You need to enter additional information. Go to <a class="t-type-bodyLink t-link" (click)="handleClickMissingFields()">first required missing field</a>.</p>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="l-stickyBar-x-bar t-hidden-desktopMin t-padding-medium t-padding-top">
    <!-- @actionbarhorizontal -->
  </div>
</div>

</form>
</ng-template>
