
  <app-formfield
    [label]="label"
    [placeholder]="placeholder"
    [errorMessage]="errorMessage"
    [helpMessage]="helpMessage"
    [required]="required"
    [name]="name"
  >
    <div class="PUI">
      <style> .strikeout { text-decoration: line-through; } </style>

      <div *ngFor="let collection of this.allCollections" class="m-link">
        <a [class.strikeout]="removingCollection(collection)" class="m-link-x-link" href="#">{{collection}}</a>
        <div class="m-link-x-button">
          <button *ngIf="!this.removingCollection(collection)" class="m-button m-button-form" (click)="handleClickRemove(collection)">
            <svg class="m-button-x-icon t-icon"> <use xlink:href="/assets/images/svg-defs.svg#icon-dismiss"></use> </svg>
            <span class="m-button-x-text t-visuallyHidden">{{collection}}</span>
          </button>
          <button *ngIf="this.removingCollection(collection)" class="m-button m-button-form" (click)="handleClickUndo(collection)">
            <svg class="m-button-x-icon t-icon"> <use xlink:href="/assets/images/svg-defs.svg#icon-back"></use> </svg>
            <span class="strikeout m-button-x-text t-visuallyHidden">{{collection}}</span>
          </button>
        </div>
      </div>

    </div>
  </app-formfield>

