<footer>
    <div class="l-container">
      <div class="t-verticalSpacing-large"></div>
      <div class="t-verticalSpacing-medium">
        <hr class="m-rule"/>
      </div>
      <div class="t-verticalSpacing-large">
        <div class="l-flex-desktop l-flex-justifySpaceBetween">
          <div class="t-verticalSpacing-small">
            <div class="l-flex-tablet">
              <p class="t-type-small t-color-text3 t-horizontalSpacing-extraSmall">© 2020 Western Governors University - WGU.</p>
              <p class="t-type-small t-color-text3">All Rights Reserved.</p>
            </div>
          </div>
          <div class="t-verticalSpacing-small">
            <p class="t-type-small t-color-text3">Powered by the <a class="t-link t-type-smallLink" href="">Open Skills Network</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  