<div class="m-tableLabel">
  <span class="m-tableLabel-x-text" id="tablelabel-selectsmall-example">Table Label</span>
  <div class="m-tableLabel-x-control">
    <button class="m-selectSmall" type="button" aria-labelledby="tablelabel-selectsmall-example"
            data-select-menu="withselectsmall" aria-haspopup="true" aria-expanded="false">
      <span class="t-visuallyHidden">Sort by</span>
      <svg class="t-icon" aria-hidden="true">
        <use xlink:href="/images/svg-defs.svg#icon-chevron"></use>
      </svg>
    </button>
  </div>
  <div class="m-selectMenu" id="withselectsmall" role="menu">
    <div class="m-selectMenu-x-content">
      <h6 class="t-type-small">Sort by</h6>
      <ng-template *ngFor="let name of columns">
        <button class="m-buttonText" type="button" role="menuitem" (click)="emitClick(name)">
          <span class="m-buttonText-x-text">{{name}}</span>
        </button>
      </ng-template>
    </div>
  </div>

</div>
