# Uncomment this to enable some debug logging
# DEBUG=1

# Provide your Okta endpoint and credentials here. This will be used to get a Bearer token for the API tests
OKTA_URL=https://dev-XXXXXXXX.okta.com
OKTA_USERNAME=XXX.XXX@example.com
OKTA_PASSWORD=XXX
