
<ng-template [ngIf]="isToastVisible()">
  <div class="l-toast l-toast-is-active" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="m-toast" [class.m-toast-attention]="message?.isAttention">
      <div class="m-toast-x-icon">
        <svg class="t-icon">
          <use xlink:href="assets/images/svg-defs.svg#icon-warning"></use>
        </svg>
      </div>
      <div class="m-toast-x-title">{{message?.title}}</div>
      <div class="m-toast-x-message">{{message?.message}}</div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="loaderVisible">

  <div class="l-loader">
    <div class="l-loader-x-loader">
      <div class="m-loader">
        <div class="m-loader-x-body">
          <div class="m-loader-x-spinner"></div>
          <p class="m-loader-x-message">{{loaderMessage}}</p>
        </div>
      </div>
    </div>
  </div>

</ng-template>
