*.versionsBackup

# OSX metadata
**/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# files matching this pattern are recommended for storing OAuth2 secrets locally during development
osmt*.env

# This is a build folder for the UI module. These files are then available via Spring Boot.
/api/src/main/resources/ui/

# `ng build --prod` replaces `environment.ts` with `environment.prod.ts`.
# The list of file replacements can be found in `angular.json`.
environment.prod.ts

# this allows whitelable configs to be ignored
whitelabel-*.json

# this directory is created by frontend-maven-plugin. No need for this in source control
ui/node
