/api/src/main/resources/ui/

*.versionsBackup

# OSX metadata
**/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local nodejs downloaded for frontend-maven-plugin
ui/node

osmt*.env

# Testing ENV
# Created at runtime
/test/postman/osmt.postman_collection.json
/test/postman/osmt-testing.postman_collection.json
/test/node_modules
