ENVIRONMENT=dev,apiserver,oauth2-okta
BASE_DOMAIN=localhost:8080
FRONTEND_URL=http://localhost:8080

DB_NAME=osmt_db
DB_USER=osmt_db_user
DB_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password

# These flags have defaults in docker-compose.quickstart.yml. Uncomment them to override default behavior
#OSMT_APP_VERSION=x.y.z
#MIGRATIONS_ENABLED=false
#REINDEX_ELASTICSEARCH=false
#SKIP_METADATA_IMPORT=true

ELASTICSEARCH_URI=http://osmt_quickstart_elasticsearch_1:9200
REDIS_URI=osmt_quickstart_redis_1:6379

OAUTH_ISSUER=https://xxxxxx.okta.com
OAUTH_CLIENTID=xxxxxx
OAUTH_CLIENTSECRET=xxxxxx
OAUTH_AUDIENCE=xxxxxx
