ENVIRONMENT=dev,apiserver,oauth2-okta
BASE_DOMAIN=localhost:8080
FRONTEND_URL=http://localhost:8080

DB_NAME=osmt_db
DB_USER=osmt_db_user
DB_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MIGRATIONS_ENABLED=true
REINDEX_ELASTICSEARCH=true

ELASTICSEARCH_URI=http://osmt_elasticsearch_1:9200
REDIS_URI=osmt_redis_1:6379

OAUTH_ISSUER=https://xxxxxx.okta.com
OAUTH_CLIENTID=xxxxxx
OAUTH_CLIENTSECRET=xxxxxx
OAUTH_AUDIENCE=xxxxxx

OSMT_WHITELABEL_URL=/whitelabel/whitelabel.json
OSMT_API_URL=http://localhost:8080
OSMT_LOGIN_URL=http://localhost:8080/oauth2/authorization/okta
OSMT_DYNAMIC_WHITELABEL=true
