.apply-filter-button {
  background: white;
  color: #002F50;
}

.apply-filter-button:hover {
  color: white;
  background: #002F50;
}

.apply-filter-button:focus {
  color: white;
  background: #002F50;
}

/**drop down**/
.drop-button {
  display: flex;
  color: white;
  // padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: -120px;
  padding: 20px;
  background: #333333;
  display: none;
  position: absolute;
  // background-color: #f1f1f1;
  min-width: 460px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  // background-color: #ccc;
  margin-bottom: 20px;
}

.dropdown:hover .dropdown-content.dropdown-content-visible {
  display: block;
  margin-bottom: 30px;
}
