<app-formfield
  [control]="control"
  [label]="label"
  [placeholder]="placeholder"
  [errorMessage]="errorMessage"
  [helpMessage]="helpMessage"
  [required]="required"
  [name]="name"
  aria-live="assertive"
>
  <div class="l-searchSelect">
    <div class="l-searchSelect-x-search">
      <div class="m-search">

        <svg class="m-search-x-icon t-icon" aria-hidden="true">
          <use [attr.xlink:href]="iconSearch"></use>
        </svg>

        <input
          [formControl]="control"
          [required]="required"
          class="m-search-x-input"
          type="text"
          placeholder="Search"
          [attr.aria-label]="name"
          role="search"
          [attr.aria-describedby]="name + '-results'"
          (keydown.enter)="onEnterKeyDown($event)"
          (keyup.enter)="onEnterKeyup($event)"
        >

        <div class="m-search-x-controls">
          <div class="m-search-x-clear">
            <button class="m-iconInteractive" type="button" (click)="clearField()">

              <span class="t-visuallyHidden">Clear Search</span>

              <div class="m-iconInteractive-x-icon">
                <svg class="t-icon" aria-hidden="true">
                  <use [attr.xlink:href]="iconDismiss"></use>
                </svg>
              </div>

            </button>
          </div>
        </div>

      </div>
    </div>
    <!-- Loading results state -->
    <div class="l-searchSelect-x-menu" *ngIf="currentlyLoading; else loaded">
      <div class="m-selectMenu m-selectMenu-fixed m-selectMenu-is-active">
        <div class="m-selectMenu-x-content">
          <p class="m-selectMenu-x-message">
            <span class="m-selectMenu-x-messageText">Loading&hellip;</span>
            <span class="m-loaderGraphic m-loaderGraphic-medium"></span>
          </p>
        </div>
      </div>
    </div>

    <!-- Loaded results state -->
    <ng-template #loaded>
      <div id="{{name}}-results" class="l-searchSelect-x-menu" *ngIf="showResults">
        <div class="m-selectMenu m-selectMenu-fixed m-selectMenu-is-active">

          <!-- Results -->
          <div class="m-selectMenu-x-content" *ngIf="results && results.length > 0; else emptyResults">
            <div class="t-visuallyHidden">Showing search results: </div>
            <button class="m-buttonText" *ngFor="let r of results" type="button" (click)="selectResult(r)">
              <span class="m-buttonText-x-text">{{r}}</span>
            </button>
          </div>

          <!-- Empty results -->
          <ng-template #emptyResults>
            <div class="m-selectMenu-x-content">
              <p class="m-selectMenu-x-message">
                <span class="m-selectMenu-x-messageText">No Results</span>
              </p>
            </div>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</app-formfield>
