select {
  width: fit-content;
  margin-left: 20px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  background-color: var(--color-background300);
  border: 1px solid var(--color-background500);
  outline: 2px solid transparent;
  outline-offset: 4px;
  box-sizing: border-box;
  padding: 1px 8px;
  -webkit-appearance: menulist;
  transition: outline var(--t-transition),outline-offset var(--t-transition),border-radius var(--t-transition),border-color var(--t-transition),background-color var(--t-transition),box-shadow var(--t-transition);
}

.size-pagination-container {
  display: flex;
  margin-bottom: 20px;
}
