

<div class="l-stickyBar">

  <div class="l-stickySidebar l-container t-margin-medium t-margin-bottom">

    <div class="l-stickySidebar-x-content t-padding-medium t-padding-top">
      <app-collection-public-detail-card
        *ngIf="collection"
        [collection]="collection"
        [indexOfFirstSkill]="from"
        [currentOnPage]="curPageCount"
        [totalSkills]="totalCount"
      ></app-collection-public-detail-card>
    </div>

    <div class="l-stickySidebar-x-sidebar t-hidden-desktopMax">
      <div class="l-stickySidebar-x-sidebarContent t-padding-medium t-padding-top">
        <app-collection-public-vertical-action-bar
          [collectionUrl]="collectionUrl"
          [collectionUuid]="collectionUuid"
        ></app-collection-public-vertical-action-bar>
      </div>
    </div>

  </div>

  <div class="l-container">
    <ng-template [appLoadingObservables]="[resultsLoaded]">
      <div class="t-margin-medium t-margin-bottom">
        <app-public-table
          *ngIf="!emptyResults"
          [skills]="results.skills"
          [currentSort]="columnSort"
          (columnSorted)="handleHeaderColumnSort($event)"
        ></app-public-table>
      </div>

      <app-empty-message *ngIf="emptyResults">
        <p class="m-emptyMessage-x-message">0 RSDs associated with this collection</p>
      </app-empty-message>

      <app-pagination
        [currentPage]="currentPageNo"
        [totalPages]="totalPageCount"
        (pageClicked)="handlePageClicked($event)"
      ></app-pagination>
    </ng-template>
  </div>
  <div class="l-stickyBar-x-bar t-hidden-desktopMin t-padding-medium t-padding-top">
    <app-collection-public-horizontal-action-bar
      [collectionUrl]="collectionUrl"
      [collectionUuid]="collectionUuid"
    ></app-collection-public-horizontal-action-bar>
  </div>
</div>
