<div class="m-skillBackground m-skillBackground-detail m-skillBackground-collection l-skillBackground">
  <div class="t-margin-extraSmall t-margin-bottom">
    <div class="m-sectionLabel">Collection</div>
  </div>

  <h2 class="t-type-heading1 t-margin-extraSmall t-margin-bottom" tabindex="0">{{collectionName}}</h2>

  <div class="t-margin-medium t-margin-bottom">
    <p class="t-type-body">Author: {{collectionAuthor}}</p>
  </div>

  <div class="t-margin-extraSmall t-margin-bottom">
    <app-status-bar
      [status]="status"
      [archiveDate]="archiveDate | date: 'mediumDate'"
      [publishDate]="publishDate | date: 'mediumDate'"
    ></app-status-bar>
  </div>
  <p *ngIf="showSkillCount" class="t-type-body">{{totalSkills}} RSDs in collection. Viewing {{indexOfFirstSkill+1}}-{{indexOfLastSkill}}.</p>
</div>
