<div class="t-margin-extraSmall t-margin-bottom">
  <div class="m-sectionLabel">Collection</div>
</div>

<h2 class="t-type-heading1 t-margin-extraSmall t-margin-bottom">{{collectionName}}</h2>

<div class="t-margin-extraSmall t-margin-bottom">
  <app-status-bar
    [status]="status"
    [archiveDate]="archiveDate"
    [publishDate]="publishDate"
  ></app-status-bar>
</div>
<p class="t-type-body">{{totalSkills}} RSDs in this collection. Viewing {{indexOfFirstSkill}}-{{indexOfLastSkill}} RSDs.</p>
