<div class="t-margin-extraSmall t-margin-bottom">
  <div class="m-sectionLabel">Collection</div>
</div>

<h2 class="t-type-heading1 t-margin-extraSmall t-margin-bottom">This is an example of a card title</h2>

<div class="t-margin-medium t-margin-bottom">
  <p class="t-type-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
</div>

<div class="t-margin-extraSmall t-margin-bottom">
  <app-status-bar
    [status]=""
    [archiveDate]=""
    [publishDate]=""
  ></app-status-bar>
</div>

<p class="t-type-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
