<ng-template [appLoadingObservables]="[skillLoaded]">
  <div class="l-stickyBar" *ngIf="richSkill; else noSkill">

  <div class="l-stickySidebar l-container">

    <div class="l-stickySidebar-x-content t-padding-medium t-padding-top" #detailCard>
      <app-detail-card
        [sections]="getCardFormat()"
        [title]="getSkillName()"
        titleLabel="Rich Skill Descriptor"
        [authors]="getAuthors()"
        [status]="getPublishStatus()"
        [archiveDate]="getArchivedDate()"
        [publishDate]="getPublishedDate()"
      ></app-detail-card>

      <div *ngIf="uuidParam" class="t-margin-medium t-margin-top">
        <app-audit-log
          [skillUuid]="uuidParam"
          closedLabel="View Audit Log"
          openLabel="Hide Audit Log">
        </app-audit-log>
      </div>
    </div>


    <div class="l-stickySidebar-x-sidebar">
      <div class="l-stickySidebar-x-sidebarContent t-padding-medium t-padding-top">
        <app-manage-skill-action-bar-vertical
          [skillUuid]="getSkillUuid()"
          [skillName]="getSkillName()"
          [skillPublicUrl]="getSkillUrl()"
          [archived]="getArchivedDate()"
          [published]="getPublishedDate()"
          (reloadSkill)="loadSkill()"
        ></app-manage-skill-action-bar-vertical>

        <nav class="m-quickLinks" aria-labelledby="save-quicklinks">
          <h3 class="t-visuallyHidden" id="save-quicklinks">Quick Links</h3>
          <a (click)="focusAndScrollIntoView(detailCard, 'h2')">Back to top</a>
        </nav>
      </div>
    </div>

  </div>

  <div class="l-stickyBar-x-bar t-hidden-desktopMin t-padding-medium t-padding-top">
    <app-manage-skill-action-bar-horizontal
      [skillUuid]="getSkillUuid()"
      [skillName]="getSkillName()"
      [skillPublicUrl]="getSkillUrl()"
      [archived]="getArchivedDate()"
      [published]="getPublishedDate()"
      (reloadSkill)="loadSkill()"
    ></app-manage-skill-action-bar-horizontal>
  </div>

</div>
<ng-template #noSkill>
  <div *ngIf="loading; else noData" class="lds-dual-ring">Loading...</div>
  <ng-template #noData>
    No data to load.
  </ng-template>
</ng-template>

<!-- This is injected into the detail card occupations section -->
<ng-template #occupationsTemplate>
  <div>
    <app-occupations-card-section
      [codes]="this.richSkill?.occupations"
      [isCollapsed]="isOccupationsCollapsed"
    ></app-occupations-card-section>
    <div class="t-margin-extraSmall t-margin-top">
      <button class="t-link" type="button" (click)="isOccupationsCollapsed = !isOccupationsCollapsed">
        <span>View {{isOccupationsCollapsed ? "All" : "Fewer"}} Groups</span>
      </button>
    </div>
  </div>
</ng-template>
