<div class="dropup">
  <button type="button" class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" (click)="action?.fire()">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="action?.icon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
    <span class="button-x-text">
      {{action?.label}}
    </span>
  </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large">
    </div>
  </button>
  <app-drop-up-menu
    class="dropup-content"
    [ngClass]="{'dropup-content-visible': action?.isVisible}"
    [action]="action">
  </app-drop-up-menu>
</div>
