.expand-panel {
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

input[type=checkbox] {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color:#e9e9e9;
}

input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color:#1E80EF;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.result-container {
  display: flex;
  justify-content: space-between;
}

.result-container:nth-child(odd) {
  background: #434647;
}

app-formfield {
  display: none;
}

.visible {
  display: block;
}
