<div class="expand-panel" (click)="showInput = !showInput">
  <strong><b>{{name | titlecase}}</b></strong>
  <svg *ngIf="showInput" fill="var(--color-interactive2)" height="14px" width="14px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
	l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
	C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
</svg>
  <svg *ngIf="!showInput" width="15px" height="15px" viewBox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg"><path d="M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z" fill="var(--color-interactive2)"/></svg>
</div>
<div class="m-field"  [ngClass]="{'visible': showInput}">
  <div class="m-field-x-input">
    <div class="l-searchSelect">
      <div class="l-searchSelect-x-search">
        <div class="m-search">

          <svg class="m-search-x-icon t-icon" aria-hidden="true">
            <use [attr.xlink:href]="iconSearch"></use>
          </svg>

          <input
            [formControl]="inputFc"
            class="m-search-x-input"
            type="text"
            placeholder="Type {{name}} to filter"
            [attr.aria-label]="name"
            role="search"
            [attr.aria-describedby]="name + '-results'"
            [attr.aria-controls]="name + '-results'"
          >
          <div class="m-search-x-controls">
            <div class="m-search-x-clear">
              <button class="m-iconInteractive" type="button" (click)="clearField()" *ngIf="inputFc.value.length > 0">

                <span class="t-visuallyHidden">Clear Search</span>

                <div class="m-iconInteractive-x-icon">
                  <svg class="t-icon" aria-hidden="true">
                    <use [attr.xlink:href]="iconDismiss"></use>
                  </svg>
                </div>

              </button>
            </div>
          </div>

        </div>
      </div>
      <!-- Loading results state -->
      <div class="l-searchSelect-x-menu" *ngIf="currentlyLoading; else loaded">
        <div class="m-selectMenu m-selectMenu-fixed m-selectMenu-is-active">
          <div class="m-selectMenu-x-content">
            <p class="m-selectMenu-x-message">
              <span class="m-selectMenu-x-messageText">Loading&hellip;</span>
              <span class="m-loaderGraphic m-loaderGraphic-medium"></span>
            </p>
          </div>
        </div>
      </div>

      <!-- Loaded results state -->
      <ng-template #loaded>
        <div id="{{name}}-results" class="l-searchSelect-x-menu" aria-live="assertive">
          <div class="m-selectMenu m-selectMenu-fixed m-selectMenu-is-active">

            <!-- Results -->
            <div class="m-selectMenu-x-content" *ngIf="results && results.length > 0; else emptyResults">
              <div class="t-visuallyHidden">Showing search results: </div>
              <div class="result-container" *ngFor="let result of results;">
              <span class="m-buttonText-x-text result-text">
                {{resultName(result)}}
              </span>
                <input type="checkbox" [checked]="isResultSelected(result)" (click)="selectResult(result)">
              </div>
            </div>

            <!-- Empty results -->
            <ng-template #emptyResults>
              <div class="m-selectMenu-x-content">
                <p class="m-selectMenu-x-message">
                  <span class="m-selectMenu-x-messageText">No Results</span>
                </p>
              </div>
            </ng-template>
          </div>
        </div>

        <div class="l-searchSelect-x-items">
          <div class="m-inputItem" *ngFor="let result of control.value" (click)="selectResult(result)">
            <span class="m-inputItem-x-text">{{resultName(result)}}</span>
            <button class="m-inputItem-x-icon" type="button">
              <svg aria-hidden="true">
                <use [attr.xlink:href]="iconDismiss"></use>
              </svg>
            </button>
          </div>

        </div>
      </ng-template>
    </div>
  </div>
</div>
