<div class="m-skillBackground m-skillBackground-detail l-skillBackground">
  <app-card-detail-title
    [title]="title"
    [status]="status"
    [publishDate]="publishDate"
    [archiveDate]="archiveDate"
    [cardType]="titleLabel"
    [author]="author">
  </app-card-detail-title>
  <div class="t-margin-medium t-margin-bottom" *ngFor="let section of sections">
    <app-detail-card-section
      [data]="section"
      *ngIf="section.bodyHtml || section.showIfEmpty"
    ></app-detail-card-section>
  </div>
  <div *ngIf="uuid" class="t-margin-medium t-margin-bottom">
    <app-skill-audit-log
      [uuid]="uuid"
      closedLabel="View Audit Log"
      openLabel="Hide Audit Log">
    </app-skill-audit-log>
  </div>
</div>
