<div class="m-skillBackground m-skillBackground-detail l-skillBackground">
  <app-card-detail-title
    [title]="title"
    [status]="status"
    [libraryName]="libraryName"
    [publishDate]="publishDate"
    [archiveDate]="archiveDate"
    [cardType]="titleLabel"
    [author]="author">
  </app-card-detail-title>
  <div class="t-margin-medium t-margin-bottom" *ngFor="let section of sections">
    <app-detail-card-section
      [data]="section"
      *ngIf="section.bodyString || section.bodyTemplate || section.showIfEmpty"
    ></app-detail-card-section>
  </div>
</div>
