<app-formfield
  [control]="control"
  [label]="label"
  [placeholder]="placeholder"
  [errorMessage]="errorMessage"
  [helpMessage]="helpMessage"
  [required]="required"
  [name]="name"
>
  <div class="l-searchSelect">
    <div class="l-searchSelect-x-search">
      <div class="m-search">

        <svg class="m-search-x-icon t-icon" aria-hidden="true">
          <use [attr.xlink:href]="iconSearch"></use>
        </svg>

        <input
          (blur)="handleBlur()"
          (keydown.enter)="handleKeyDownEnter($event)"
          [formControl]="control"
          [required]="required"
          class="m-search-x-input"
          type="text"
          placeholder="Search"
          [attr.aria-label]="name"
          role="search"
        >
        <div class="m-search-x-controls">
          <div class="m-search-x-clear">
            <button class="m-iconInteractive" type="button" (click)="clearField()">

              <span class="t-visuallyHidden">Clear Search</span>

              <div class="m-iconInteractive-x-icon">
                <svg class="t-icon" aria-hidden="true">
                  <use [attr.xlink:href]="iconDismiss"></use>
                </svg>
              </div>

            </button>
          </div>
        </div>

      </div>
    </div>
    <!-- Loading results state -->
    <div class="l-searchSelect-x-menu" *ngIf="currentlyLoading; else loaded">
      <div class="m-selectMenu m-selectMenu-fixed m-selectMenu-is-active">
        <div class="m-selectMenu-x-content">
          <p class="m-selectMenu-x-message">
            <span class="m-selectMenu-x-messageText">Loading&hellip;</span>
            <span class="m-loaderGraphic m-loaderGraphic-medium"></span>
          </p>
        </div>
      </div>
    </div>

    <!-- Loaded results state -->
    <ng-template #loaded>
      <div class="l-searchSelect-x-menu" *ngIf="showResults">
        <div class="m-selectMenu m-selectMenu-fixed m-selectMenu-is-active">

          <!-- Results -->
          <div class="m-selectMenu-x-content" *ngIf="results && results.length > 0; else emptyResults">
            <button class="m-buttonText" *ngFor="let r of results" type="button" (click)="selectResult(r)" [disabled]="isResultSelected(r)">
              <span class="m-buttonText-x-icon" *ngIf="isResultSelected(r)">
                <svg class="t-icon" aria-hidden="true">
                  <use [attr.xlink:href]="iconCheck"></use>
                </svg>
              </span>
              <span class="m-buttonText-x-text">{{r}}<span *ngIf="isResultSelected(r)" class="t-visuallyHidden">, selected</span></span>
            </button>
          </div>

          <!-- Empty results -->
          <ng-template #emptyResults>
            <div class="m-selectMenu-x-content">
              <p class="m-selectMenu-x-message">
                <span class="m-selectMenu-x-messageText">No Results</span>
              </p>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="l-searchSelect-x-items">

        <!-- Currently selected results -->
        <button type="button" class="m-inputItem" *ngFor="let r of internalSelectedResults" (click)="unselectResult(r)">
          <span class="m-inputItem-x-text"><span class="t-visuallyHidden">Remove </span>{{r}}</span>
          <span class="m-inputItem-x-icon">
            <svg class="t-icon" aria-hidden="true">
              <use [attr.xlink:href]="iconDismiss"></use>
            </svg>
          </span>
        </button>

      </div>
    </ng-template>
  </div>
</app-formfield>
