
<header>
  <nav class="m-navbar">
    <div class="m-navbar-x-container">
      <a class="m-navbar-x-brand" href="#">
        <svg class="t-icon m-sitelogo">
            <use xlink:href="images/svg-defs.svg#logo"></use>
        </svg>
      </a>
      <div class="m-navbar-x-tagline">{{whitelabel.toolNameLong}}</div>
      <ul class="m-navbar-x-nav t-hidden-maxdesktop">
        <li class="m-navbar-x-navItem">
          <a class="m-navItem m-navItem-is-active" aria-current="page" routerLink="/skills">Skills Library</a>
        </li>
        <li class="m-navbar-x-navItem">
          <a class="m-navItem" href="#">Collections</a>
        </li>
        <li class="m-navbar-x-navItem">
          <button class="m-button m-button-elevation0 m-button-small m-button-iconSmall" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="t-icon">
              <use xlink:href="images/svg-defs.svg#icon-logout"></use>
            </svg>
          </button>
        </li>
      </ul>
      <button class="m-navbar-x-toggle m-button m-button-elevation0 m-button-small m-button-iconSmall" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="t-icon t-icon-menu">
          <use xlink:href="images/svg-defs.svg#icon-menu"></use>
        </svg>
        <svg class="t-icon t-icon-dismiss">
          <use xlink:href="images/svg-defs.svg#icon-dismiss"></use>
        </svg>
      </button>

      <div class="m-navbar-x-collapse t-hidden-mindesktop" id="navbarSupportedContent">
        <app-commoncontrols-mobile></app-commoncontrols-mobile>
      </div>

    </div>
  </nav>

  <div class="t-hidden-maxdesktop">
    <app-commoncontrols></app-commoncontrols>
  </div>
</header>
