<table class="l-table">
  <caption></caption>
  <thead>
  <tr class="m-tableHeader m-tableHeader-bare">
    <th class="t-hidden-tabletMin" scope="col" colspan="2"><span class="t-visuallyHidden">Rich Skill Descriptor</span></th>
    <th class="m-tableHeader-x-min t-hidden-tabletMax" scope="col"><span class="t-visuallyHidden">Rich Skill Descriptor</span></th>
    <th class="t-hidden-tabletMax" scope="col"><span class="t-visuallyHidden">Category</span></th>
    <th class="t-hidden-tabletMax" scope="col"><span class="t-visuallyHidden">Rich Skill Descriptor</span></th>
  </tr>

  <tr class="m-tableHeader">
    <td class="t-hidden-tabletMin" colspan="2">
      <span class="m-tableLabel"><span class="m-tableLabel-x-text">Rich Skill Descriptor</span></span>
    </td>

    <td class="m-tableHeader-x-min t-hidden-tabletMax">
      <span class="t-visuallyHidden">Hidden label</span>
    </td>

    <td class="t-hidden-tabletMax">
      <span class="m-tableLabel"><span class="m-tableLabel-x-text">Category</span></span>
    </td>

    <td class="t-hidden-tabletMax">
      <span class="m-tableLabel"><span class="m-tableLabel-x-text">Rich Skill Descriptor</span></span>
    </td>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let review of skills; let index=index" class="m-tableRow"
        [class.m-tableRow-is-error]="review.isError"
        [class.m-tableRow-is-warning]="review.isWarning"
    >
      <th class="m-tableRow-x-min" scope="row" id="import-preview-row-{{index}}">
        <span class="t-type-bodyBold">{{index+1}}.</span>
      </th>

      <td>
        <div class="t-hidden-tabletMax">{{review.skill.category}}</div>
        <div class="t-hidden-tabletMin">
          <!--{{render '@m-inlineheading'}}-->
          <div class="m-inlineHeading">
            <p class="m-inlineHeading-x-heading">Category:</p>
            <p class="m-inlineHeading-x-text">{{review.skill.category}}</p>
          </div>
        </div>
      </td>

      <td>
        <p *ngIf="!review.nameMissing; else nameMissing" class="t-margin-extraSmall t-margin-bottom">{{review.skill.skillName}}</p>
        <ng-template #nameMissing><app-inline-error message="RSD name required"></app-inline-error></ng-template>

        <app-inline-error *ngIf="review.isWarning" message="Skill statement is very similar to one already in the library."></app-inline-error>

        <p *ngIf="!review.statementMissing; else statementMissing" class="t-margin-small t-margin-bottom t-type-text3">{{review.skill.skillStatement}}</p>
        <ng-template #statementMissing><app-inline-error message="Skill statement required"></app-inline-error></ng-template>

        <app-inline-heading *ngIf="review.skill.author" heading="Author:"><app-named-reference [ref]="review.skill.author"></app-named-reference></app-inline-heading>

        <app-inline-heading *ngIf="review.skill.keywords" heading="Keywords:">{{review.skill.keywords.add?.join("; ")}}</app-inline-heading>
      </td>

    </tr>
  </tbody>
</table>
