<div *ngIf="richSkill; else noSkill">
  <h1>{{richSkill.skillName}}</h1>
  <p><b>Skill Statement</b><br>&emsp;{{richSkill.statement}}</p>
  <p><b>ID</b><br>&emsp;{{richSkill.id}}</p>
  <p><b>Category</b><br>&emsp;{{richSkill.category}}</p>
  <p><b>Alignments</b></p>
  <ul>
    <li *ngFor="let alignment of richSkill.alignments">
      <p>
        {{alignment.id}}
      </p>
    </li>
  </ul>
  <p><b>Keywords</b></p>
  <ul>
    <li *ngFor="let keyword of richSkill.keywords">
      <p>
        {{keyword.name}}
      </p>
    </li>
  </ul>
  <p><b>Standards</b></p>
  <ul>
    <li *ngFor="let standard of richSkill.standards">
      <p>
        {{standard.name}}
      </p>
    </li>
  </ul>
  <p><b>Certifications</b></p>
  <ul>
    <li *ngFor="let certification of richSkill.certifications">
      <p>
        {{certification.name}}
      </p>
    </li>
  </ul>
  <p><b>Occupations</b></p>
  <ul>
    <p><b>Major codes</b></p>
    <div *ngFor="let code of majorCodes">
      <li *ngIf="code">
        <p>{{code}}</p>
      </li>
    </div>
  </ul>
  <ul>
    <p><b>Minor codes</b></p>
    <div *ngFor="let code of minorCodes">
      <li *ngIf="code">
        <p>{{code}}</p>
      </li>
    </div>
  </ul>
  <ul>
    <p><b>Broad codes</b></p>
    <div *ngFor="let code of broadCodes">
      <li *ngIf="code">
        <p>{{code}}</p>
      </li>
    </div>
  </ul>
  <ul>
    <p><b>Detailed codes</b></p>
    <div *ngFor="let code of detailedCodes">
      <li *ngIf="code">
        <p>{{code}}</p>
      </li>
    </div>
  </ul>
  <ul>
    <p><b>Job Role codes</b></p>
    <div *ngFor="let code of jobRoleCodes">
      <li *ngIf="code">
        <p>{{code}}</p>
      </li>
    </div>
  </ul>
  <p><b>Employers</b></p>
  <ul>
    <li *ngFor="let employer of richSkill.employers">
      <p>{{employer.name}}</p>
    </li>
  </ul>
  <p><b>Author</b><br>&emsp;{{richSkill.author.name}}</p>
</div>
<ng-template #noSkill>
  <div *ngIf="loading; else noData">
    Loading...
  </div>
  <ng-template #noData>
    No data to load.
  </ng-template>
</ng-template>
