<div *ngIf="richSkill; else noSkill">
  <h1>Business Ethics: {{richSkill.skillName}}</h1>
  <p><b>Author</b>: <br>&emsp;{{richSkill.author.name}}</p>
  <p><b>ID</b>: <br>&emsp;{{richSkill.id}}</p>
  <p><b>Type</b>: <br>&emsp;{{richSkill.type}}</p>
  <p><b>UUID</b>: <br>&emsp;{{richSkill.uuid}}</p>
  <p><b>Category</b>: <br>&emsp;{{richSkill.category}}</p>
  <p><b>Skill Statement</b>: <br>&emsp;{{richSkill.statement}}</p>
  <p><b>Alignments</b>:</p>
  <ul>
    <li *ngFor="let alignment of richSkill.alignments">
      <p>
        {{alignment.id}}
      </p>
    </li>
  </ul>
  <p><b>Keywords</b>:</p>
  <ul>
    <li *ngFor="let keyword of richSkill.keywords">
      <p>
        {{keyword.name}}
      </p>
    </li>
  </ul>
  <p><b>Standards</b>:</p>
  <ul>
    <li *ngFor="let standard of richSkill.standards">
      <p>
        {{standard.name}}
      </p>
    </li>
  </ul>
  <p><b>Certifications</b></p>
  <ul>
    <li *ngFor="let certification of richSkill.certifications">
      <p>
        {{certification.name}}
      </p>
    </li>
  </ul>
  <p><b>Occupations</b></p>
  <ul>
    <li *ngFor="let occupation of richSkill.occupations">
      <p>id=[{{occupation.id}}] name=[{{occupation.name}}] code=[{{occupation.code}}] framework=[{{occupation.framework}}]</p>
    </li>
  </ul>
  <p><b>Employers</b></p>
  <ul>
    <li *ngFor="let employer of richSkill.employers">
      <p>{{employer.name}}</p>
    </li>
  </ul>
</div>
<ng-template #noSkill>
  <div *ngIf="loading; else noData">
    Loading...
  </div>
  <ng-template #noData>
    No data to load.
  </ng-template>
</ng-template>
