.dropup {
  position: inherit;
  display: inherit;
  width: 100%;
}

.dropup-content {
  margin-left: 110px!important;
  margin-bottom: -90px!important;
  padding-right: 20px;
}

hr {
  width: 100%;
}
