<ul class="m-navbar-x-nav">
  <li class="m-navbar-x-navItem">
    <a class="m-buttonText" href="#">
      <span class="button-x-text">Skills Library</span>
    </a>
  </li>
  <li class="m-navbar-x-navItem">
    <a class="m-buttonText" href="#">
      <span class="button-x-text">Collections Library</span>
    </a>
  </li>
</ul>
<div class="t-verticalSpacing-medium">
  <div class="m-formInput m-formInput-buttonBar m-formInput-icon">
    <input type="search" placeholder="Search Skills or Collections" />
    <svg class="t-icon">
      <use xlink:href="assets/images/svg-defs.svg#icon-search"></use>
    </svg>
    <div class="m-buttonBar">
      <button class="m-buttonText t-horizontalSpacing-extraSmall">
        <span class="button-x-text">Skills</span>
      </button>
      <div class="m-divider t-horizontalSpacing-extraSmall"></div>
      <button class="m-buttonText">
        <span class="button-x-text">Collections</span>
      </button>
    </div>
  </div>
</div>
<ul class="m-navbar-x-nav">
  <li class="m-navbar-x-navItem">
    <a class="m-buttonText m-buttonText-icon" href="#">
      <svg class="button-x-icon t-icon">
        <use xlink:href="/assets/images/svg-defs.svg#icon-doc"></use>
      </svg>
      <span class="button-x-text">Create Skill</span>
    </a>
  </li>
  <li class="m-navbar-x-navItem">
    <a class="m-buttonText m-buttonText-icon" href="#">
      <svg class="button-x-icon t-icon">
        <use xlink:href="/assets/images/svg-defs.svg#icon-collection"></use>
      </svg>
      <span class="button-x-text">Create Collection</span>
    </a>
  </li>
  <li class="m-navbar-x-navItem">
    <a class="m-buttonText m-buttonText-icon" href="#">
      <svg class="button-x-icon t-icon">
        <use xlink:href="/assets/images/svg-defs.svg#icon-upload"></use>
      </svg>
      <span class="button-x-text">Batch Import Skills</span>
    </a>
  </li>
</ul>
<ul class="m-navbar-x-nav">
  <li class="m-navbar-x-navItem">
    <a class="m-buttonText" href="#">
      <span class="button-x-text">Log Out</span>
    </a>
  </li>
</ul>
