<nav class="l-flex l-flex-alignCenter l-flex-0 t-elevation-large">

  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" (click)="onCopyURL(fullPath)">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use xlink:href="assets/images/svg-defs.svg#icon-dismiss"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
        <span class="button-x-text">
            Copy URL
        </span>
        <label>
          <textarea class="t-visuallyHidden" #fullPath>{{href}}</textarea>
        </label>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>

  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" (click)="onDownloadCsv()">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use xlink:href="assets/images/svg-defs.svg#icon-download"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Download CSV
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>

  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" (click)="onCopyJSON(skillJson)">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use xlink:href="assets/images/svg-defs.svg#icon-duplicate"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
      <span class="button-x-text">
        Copy JSON
      </span>
      <label>
        <textarea class="t-visuallyHidden" #skillJson>{{jsonClipboard}}</textarea>
      </label>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>

</nav>
