<div class="l-statusbar">
  <div class="l-statusbar-x-container">

    <!-- Published -->
    <div *ngIf="isPublished(); else draft">
      <div class="m-status m-status-published">
        <div class="m-status-x-icon">
          <svg class="t-icon" aria-hidden="true">
            <use xlink:href="assets/images/svg-defs.svg#icon-up"></use>
          </svg>
        </div>
        <div class="m-status-x-label">Published {{published}}</div>
      </div>
    </div>

    <!-- Default -->
    <ng-template #draft>
      <div class="m-status">
        <div class="m-status-x-icon"></div>
        <div class="m-status-x-label">Draft</div>
      </div>
    </ng-template>

    <div class="l-flex l-flex-alignCenter" *ngIf="isArchived()">
      <svg class="t-icon" aria-hidden="true">
        <use xlink:href="assets/images/svg-defs.svg#icon-archive"></use>
      </svg>
      <span class="t-type-body">
    Archived {{archived}}
  </span>
    </div>

  </div>
</div>

