<div class="l-accordion" [class.l-accordion-is-open]="isExpanded">

  <button class="l-accordion-x-trigger m-buttonText" role="button" [attr.aria-expanded]="isExpanded" (click)="handleClickTrigger()">
		<span class="m-buttonText-x-icon">
			<div class="l-iconTransition" [class.l-iconTransition-is-toggled]="isExpanded">
				<svg class="l-iconTransition-x-icon t-icon">
					<use xlink:href="/assets/images/svg-defs.svg#icon-add"></use>
				</svg>
				<svg class="l-iconTransition-x-iconSwap l-iconTransition-x-replace t-icon">
					<use xlink:href="/assets/images/svg-defs.svg#icon-minus"></use>
				</svg>
			</div>
		</span>
    <span class="m-buttonText-x-text">{{triggerLabel}}</span>
  </button>

  <div class="l-accordion-x-content t-margin-small t-margin-bottom" #content [attr.inert]="isExpanded ? false : ''" [attr.aria-hidden]="!isExpanded">
    <ng-content></ng-content>
  </div>

</div>
