<div class="l-actionBarVertical">
  <div class="l-actionBarVertical-x-items">
    <div *ngFor="let action of this.secondaryActions" class="dropup">
      <app-vertical-action-bar-item [action]="action" [data]="data">
      </app-vertical-action-bar-item>
    </div>
  </div>

  <div class="l-actionBarVertical-x-action">
    <button
      *ngFor="let action of this.primaryActions"
      type="button"
      class="m-button"
      (click)="action.fire(data)"
      [disabled]="!action.isVisible"
    >
      <span class="m-button-x-loader">
        <span class="m-loaderGraphic m-loaderGraphic-medium"></span>
      </span>
      <span class="m-button-x-icon">
        <svg aria-hidden="true">
        <use [attr.xlink:href]="action.icon"></use>
        </svg>
      </span>
      <span class="m-button-x-text">{{action.label}}</span>
    </button>
  </div>
</div>
