<div class="l-actionBarVertical">
  <div class="l-actionBarVertical-x-items">
    <button
      *ngFor="let action of this.secondaryActions"
      type="button"
      class="m-actionBarItem"
      (click)="action.fire(data)"
      [disabled]="!action.isVisible"
    >
    <span class="m-actionBarItem-x-icon">
      <svg class="t-icon" aria-hidden="true">
        <use [attr.xlink:href]="action.icon"></use>
      </svg>
    </span>
      <span class="m-actionBarItem-x-text">{{action.label}}</span>
    </button>
  </div>

  <div class="l-actionBarVertical-x-action">
    <button
      *ngFor="let action of this.primaryActions"
      type="button"
      class="m-button"
      (click)="action.fire(data)"
      [disabled]="!action.isVisible"
    >
      <span class="m-button-x-loader">
        <span class="m-loaderGraphic m-loaderGraphic-medium"></span>
      </span>
      <span class="m-button-x-icon">
        <svg aria-hidden="true">
        <use [attr.xlink:href]="action.icon"></use>
        </svg>
      </span>
      <span class="m-button-x-text">{{action.label}}</span>
    </button>
  </div>
</div>

