<div class="l-stickyBar">

  <div class="l-container t-padding-large t-padding-top">

    <div class="l-container l-container-mobile t-margin-medium t-margin-bottom">
      <h2 *ngIf="title" class="t-type-heading1 t-margin-small t-margin-bottom" #titleHeading>{{title}}</h2>
      <p class="t-type-bodyLarge t-type-text3">
        {{metadataCountLabel}}.

        <span *ngIf="matchingQuery">
            found based on
            query: "{{matchingQuery}}"
          </span>
        <ng-template [ngIf]="totalCount > 0">
          Viewing {{firstRecordNo}}-{{lastRecordNo}}.
        </ng-template>
      </p>
    </div>

    <!--    {{render '@listheading'}}-->
    <div class="t-margin-medium t-margin-bottom">
      <form [formGroup]="searchForm" (ngSubmit)="handleDefaultSubmit()">
        <div class="m-text">
          <svg class="m-text-x-icon t-icon" (click)="clearSearch()">
            <use xlink:href="/assets/images/svg-defs.svg#icon-dismiss"></use>
          </svg>
          <input type="text" placeholder="Search {{selectedMetadataType}}" [formControl]="searchForm.controls.search">
          <div class="metadata-type-container">
            <app-metadata-selector [isVisible]="getSelectAllEnabled" [control]="typeControl" [currentSelection]="selectedMetadataType">
            </app-metadata-selector>
            <div class="create-metadata-container">
              <a class="m-button" routerLink="{{createRoute}}" [state]="{metadataType: typeControl.value}">
                <svg class="m-button-x-icon t-icon">
                  <use xlink:href="/assets/images/svg-defs.svg#icon-collection"></use>
                </svg>
                <span class="m-button-x-text">Create {{metadataTypeSelected}}</span>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="totalPageCount" class="t-margin-medium t-margin-bottom">
      <app-blocking-loader [observables]="[resultsLoaded]">
        <p class="t-visuallyHidden">Select one or more records in the table, or select all in the table heading, then use the action menu to delete the selected ones.</p>
        <app-job-code-table
          *ngIf="isJobCodeDataSelected"
          [allowSorting]="true"
          [items]="getJobCodes()"
          [currentSort]="columnSort"
          [rowActions]="rowActions()"
          [selectAllCount]="getSelectAllCount()"
          [selectAllEnabled]="getSelectAllEnabled()"
          [clearSelected]="clearSelectedItemsFromTable.asObservable()"
          (selectAllSelected)="handleSelectAll($event)"
          (rowSelected)="handleNewSelection($event)"
          (columnSorted)="handleHeaderColumnSort($event)"
          (focusActionBar)="focusActionBar()"
        ></app-job-code-table>

        <app-named-reference-table
          *ngIf="!isJobCodeDataSelected"
          [metadataSelected] = selectedMetadataType
          [allowSorting]="true"
          [items]="getNamedReferences()"
          [currentSort]="columnSort"
          [rowActions]="rowActions()"
          [selectAllCount]="getSelectAllCount()"
          [selectAllEnabled]="getSelectAllEnabled()"
          [clearSelected]="clearSelectedItemsFromTable.asObservable()"
          (selectAllSelected)="handleSelectAll($event)"
          (rowSelected)="handleNewSelection($event)"
          (columnSorted)="handleHeaderColumnSort($event)"
          (focusActionBar)="focusActionBar()"
        ></app-named-reference-table>

        <app-empty-message *ngIf="emptyResults && !showSearchEmptyMessage">
          <p class="m-emptyMessage-x-message">No Metadata found. Try adjusting your search criteria.</p>
        </app-empty-message>
      </app-blocking-loader>
    </div>

    <app-pagination
      [currentPage]="currentPageNo"
      [totalPages]="totalPageCount"
      (pageClicked)="handlePageClicked($event)"
    ></app-pagination>

    <div *ngIf="totalCount > 0" class="l-stickyBar-x-bar t-padding-medium t-padding-top">
      <div class="l-container l-container-tablet">
        <app-table-action-bar [actions]="tableActions()"></app-table-action-bar>
      </div>
    </div>

  </div>

</div>


