<table class="l-table">
  <caption> </caption>
  <thead>
    <tr class="m-tableHeader m-tableHeader-bare">
      <th class="t-hidden-tabletMin" scope="col" colspan="3"><span class="t-visuallyHidden">Categories</span></th>
      <th class="t-hidden-tabletMax" scope="col"><span class="t-visuallyHidden">Category Name</span></th>
      <th class="t-hidden-tabletMax" scope="col"><span class="t-visuallyHidden">RSDs</span></th>
    </tr>
    <tr class="m-tableHeader t-hidden-tabletMin">
      <td aria-hidden="true">
        <app-label-select
          [options]="mobileSortOrderOptions"
          [selected]="mobileSortOrderOption"
          (onSelection)="handleMobileSortOrderSelected($event)"
        >
          Sort Order
        </app-label-select>
      </td>
    </tr>
    <tr class="m-tableHeader">
      <td class="t-hidden-tabletMax"  aria-hidden="true">
        <app-label-sort
          [sortOrderAsc]="KeywordSortOrder.KeywordAsc"
          [sortOrderDesc]="KeywordSortOrder.KeywordDesc"
          [selected]="sortOrder"
          (onSelection)="handleSortOrderSelected($event)"
        >
          Category Name
        </app-label-sort>
      </td>
      <td class="t-hidden-tabletMax"  aria-hidden="true">
        <app-label-sort
          [sortOrderAsc]="KeywordSortOrder.SkillCountAsc"
          [sortOrderDesc]="KeywordSortOrder.SkillCountDesc"
          [selected]="sortOrder"
          (onSelection)="handleSortOrderSelected($event)"
        >
          RSD<span class="t-type-lowercase">s</span>
        </app-label-sort>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let category of items; let i=index"
      id="table-row-{{i}}"
      class="m-tableRow"

      app-category-table-row
      [category]="category"
    ></tr>
  </tbody>
</table>
