<form [formGroup]="skillForm" (ngSubmit)="handleSearchSkills()" class="l-stickyBar">

  <div class="l-stickySidebar l-container">

    <div class="l-stickySidebar-x-content t-padding-medium t-padding-top">
      <div class="m-skillBackground l-skillBackground">
        <div class="t-margin-medium t-margin-bottom">

          <h3 class="m-iconTitle">
            <div class="m-iconTitle-x-icon">
              <svg class="t-icon" aria-hidden="true">
                <use [attr.xlink:href]="iconSearch"></use>
              </svg>
            </div>
            <div class="m-iconTitle-x-label">Advanced Search</div>
          </h3>
          {{getSemicolonHelpMessage()}}

        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="skillForm.controls.name"
            name="name"
            label="Name"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select
            [control]="skillForm.controls.author"
            label="Author"
            name="Author"
            [keywordType]="keywordType.Author"
          >
          </app-form-field-search-select>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="skillForm.controls.skillStatement"
            name="skillStatement"
            label="Skill Statement"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select
            [control]="skillForm.controls.category"
            label="Category"
            name="Category"
            [keywordType]="keywordType.Category"
          >
          </app-form-field-search-select>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select
            [control]="skillForm.controls.keywords"
            label="Keywords"
            name="Keywords"
            [keywordType]="keywordType.Category"
          >
          </app-form-field-search-select>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select
            [control]="skillForm.controls.standards"
            label="Standards"
            name="Standards"
            [keywordType]="keywordType.Category"
          >
          </app-form-field-search-select>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select
            [control]="skillForm.controls.certifications"
            label="Certifications"
            name="Certifications"
            [keywordType]="keywordType.Category"
          >
          </app-form-field-search-select>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select-jobcode
            [control]="skillForm.controls.occupations"
            label="Occupations"
            name="Occupations"
          ></app-form-field-search-select-jobcode>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select
            [control]="skillForm.controls.employers"
            label="Employers"
            name="Employers"
            [keywordType]="keywordType.Employer"
          >
          </app-form-field-search-select>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-form-field-search-select
            [control]="skillForm.controls.alignments"
            label="Alignments"
            name="Alignments"
            [keywordType]="keywordType.Alignment"
          >
          </app-form-field-search-select>
        </div>
      </div>
    </div>

    <div class="l-stickySidebar-x-sidebar t-hidden-desktopMax">
      <div class="l-stickySidebar-x-sidebarContent t-padding-medium t-padding-top">
        <app-advanced-search-vertical-action-bar
          (searchSkillsClicked)="handleSearchSkills()"
          (searchCollectionsClicked)="handleSearchCollections()"
        ></app-advanced-search-vertical-action-bar>
      </div>
    </div>

  </div>

  <div class="l-stickyBar-x-bar t-hidden-desktopMin t-padding-medium t-padding-top">
    <app-advanced-search-horizontal-action-bar
      (searchSkillsClicked)="handleSearchSkills()"
      (searchCollectionsClicked)="handleSearchCollections()"
    ></app-advanced-search-horizontal-action-bar>
  </div>

</form>
