<form [formGroup]="searchForm" (ngSubmit)="handleSearchSkills()" class="l-stickyBar">

  <div class="l-stickySidebar l-container">

    <div class="l-stickySidebar-x-content t-padding-medium t-padding-top">
      <div class="m-skillBackground l-skillBackground">
        <div class="t-margin-medium t-margin-bottom">

          <h3 class="m-iconTitle">
            <div class="m-iconTitle-x-icon">
              <svg class="t-icon" aria-hidden="true">
                <use [attr.xlink:href]="iconSearch"></use>
              </svg>
            </div>
            <div class="m-iconTitle-x-label">Advanced Search</div>
          </h3>
          {{getSemicolonHelpMessage()}}

        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-toggle-button
            [selectedOption]="searchTypeToggleSelectedOption"
            option1Label="This Library"
            option2Label="External Libraries"
            [option2Loading]="isExternalLibraryFormLoading"
            (optionClick)="handleSearchTypeOptionClick($event)"
          ></app-toggle-button>
        </div>

        <div *ngIf="isExternalSearchType && !isExternalLibraryFormLoading"
             class="t-margin-medium t-margin-bottom">
          <app-formfield-multi-choice
            [control]="searchForm.controls.externalLibraries"
            name="external-libraries"
            label="External Library"
            [required]="true"
            [choices]="externalLibraryChoices"
          ></app-formfield-multi-choice>
        </div>
        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.name"
            name="name"
            label="Name"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            *ngIf="showAuthor()"
            [control]="searchForm.controls.author"
            name="author"
            label="Author"
            [required]="false"
          >
          </app-formfield-text>
        </div>
        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.skillStatement"
            name="skillStatement"
            label="Skill Statement"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.category"
            name="category"
            label="Category"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.keywords"
            name="keywords"
            label="Keywords"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.standards"
            name="standards"
            label="Standards"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.certifications"
            name="certifications"
            label="Certifications"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.occupations"
            name="occupations"
            label="Occupations"
            [required]="false"
            [helpMessage]="getOccupationHelpMessage()"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.employers"
            name="employers"
            label="Employers"
            [required]="false"
          >
          </app-formfield-text>
        </div>

        <div class="t-margin-medium t-margin-bottom">
          <app-formfield-text
            [control]="searchForm.controls.alignments"
            name="alignments"
            label="Alignment"
            [required]="false"
          >
          </app-formfield-text>
        </div>
      </div>
    </div>

    <div class="l-stickySidebar-x-sidebar t-hidden-desktopMax">
      <div class="l-stickySidebar-x-sidebarContent t-padding-medium t-padding-top">
        <app-advanced-search-vertical-action-bar
          (searchSkillsClicked)="handleSearchSkills()"
          (searchCollectionsClicked)="handleSearchCollections()"
        ></app-advanced-search-vertical-action-bar>
      </div>
    </div>

  </div>

  <div class="l-stickyBar-x-bar t-hidden-desktopMin t-padding-medium t-padding-top">
    <app-advanced-search-horizontal-action-bar
      (searchSkillsClicked)="handleSearchSkills()"
      (searchCollectionsClicked)="handleSearchCollections()"
    ></app-advanced-search-horizontal-action-bar>
  </div>

</form>
