

<div class="m-commonControls">
    <div class="l-container">
      <div class="t-verticalSpacing-small">
          <!-- search bar -->
        <div class="m-formInput m-formInput-buttonBar m-formInput-icon">
            <input type="search" placeholder="Search Skills or Collections" />
            <svg class="t-icon">
                <use xlink:href="assets/images/svg-defs.svg#icon-search"></use>
            </svg>
            <div class="m-buttonBar">
                <button class="m-buttonText t-horizontalSpacing-extraSmall">
                    <span class="button-x-text">Skills</span>
                </button>
                <div class="m-divider t-horizontalSpacing-extraSmall"></div>
                <button class="m-buttonText">
                    <span class="button-x-text">Collections</span>
                </button>
            </div>
        </div>

      </div>
      <nav class="l-flex l-flex-alignCenter l-flex-justifySpaceBetween t-color-dark">
        <ul class="l-flex">
          <li class="t-horizontalSpacing-extraSmall">
            <a routerLink="/skills/create">
              <button class="m-button m-button-icon">
                <svg class="button-x-icon t-icon">
                  <use xlink:href="assets/images/svg-defs.svg#icon-doc"></use>
                </svg>
                <span class="button-x-text">Create Skill</span>
              </button>
            </a>
          </li>
          <li class="t-horizontalSpacing-extraSmall">
            <button class="m-button m-button-icon">
              <svg class="button-x-icon t-icon">
                <use xlink:href="assets/images/svg-defs.svg#icon-collection"></use>
              </svg>
              <span class="button-x-text">Create Collection</span>
            </button>
          </li>
          <li class="t-horizontalSpacing-extraSmall">
            <button class="m-button m-button-icon">
              <svg class="button-x-icon t-icon">
                <use xlink:href="assets/images/svg-defs.svg#icon-upload"></use>
              </svg>
              <span class="button-x-text">Batch Import Skills</span>
            </button>
          </li>
        </ul>
        <button class="m-buttonText">
          <span class="button-x-text">Advanced Search</span>
        </button>
      </nav>
    </div>
  </div>
