<ul class="m-navBar-x-nav">
  <li>
    <button class="m-buttonText m-buttonText-alt" routerLink="/skills">
      <span class="m-buttonText-x-text">Skills Library</span>
    </button>
  </li>

  <li>
    <button class="m-buttonText m-buttonText-alt">
      <span class="m-buttonText-x-text">Collections Library</span>
    </button>
  </li>
</ul>

<div>
  <!--{{render '@m-search'}}-->
  <form [formGroup]="searchForm" (ngSubmit)="handleDefaultSubmit()">
    <div class="m-search">
    <svg class="m-search-x-icon t-icon">
      <use xlink:href="/assets/images/svg-defs.svg#icon-search"></use>
    </svg>
    <input class="m-search-x-input" type="text" required [formControl]="searchForm.controls.search">
      <div class="m-search-x-controls">
      <div class="m-search-x-clear">
        <button class="m-iconInteractive" type="button" (click)="clearSearch()">

          <span class="t-visuallyHidden">Clear Search</span>

          <div class="m-iconInteractive-x-icon">
            <svg class="t-icon" aria-hidden="true">
              <use xlink:href="/assets/images/svg-defs.svg#icon-dismiss"></use>
            </svg>
          </div>

        </button>
      </div>
      <div class="l-buttonTextBar">

        <a class="m-buttonText" (click)="submitSkillSearch()">
          <span class="m-buttonText-x-text">Skills</span>
        </a>

        <div class="m-divider"></div>

        <a class="m-buttonText" (click)="submitCollectionSearch()">
          <span class="m-buttonText-x-text">Collections</span>
        </a>

      </div>
    </div>
  </div>
  </form>
</div>

<ul class="m-navBar-x-nav">

  <li>
    <button class="m-buttonText m-buttonText-alt" routerLink="/skills/create">
      <span class="m-buttonText-x-icon">
        <svg class="t-icon" aria-hidden="true">
          <use xlink:href="/assets/images/svg-defs.svg#icon-doc"></use>
        </svg>
      </span>
      <span class="m-buttonText-x-text">Create Skill</span>
    </button>
  </li>

  <li>
    <button class="m-buttonText m-buttonText-alt">
      <span class="m-buttonText-x-icon">
        <svg class="t-icon" aria-hidden="true">
          <use xlink:href="/assets/images/svg-defs.svg#icon-collection"></use>
        </svg>
      </span>
      <span class="m-buttonText-x-text">Create Collection</span>
    </button>
  </li>

  <li>
    <button class="m-buttonText m-buttonText-alt">
      <span class="m-buttonText-x-icon">
        <svg class="t-icon" aria-hidden="true">
          <use xlink:href="/assets/images/svg-defs.svg#icon-upload"></use>
        </svg>
      </span>
      <span class="m-buttonText-x-text">Batch Import RSDs</span>
    </button>
  </li>

</ul>

<ul class="m-navBar-x-nav">
  <li>
    <button class="m-buttonText m-buttonText-alt" routerLink="/logout">
      <span class="m-buttonText-x-text">Logout</span>
    </button>
  </li>
</ul>


