<div class="m-commonControls">
  <div class="l-container">
    <!-- {{render '@m-search--with-buttontextbar'}} -->
    <form [formGroup]="searchForm" (ngSubmit)="handleDefaultSubmit()">
      <div class="m-search">
        <svg class="m-search-x-icon t-icon">
          <use [attr.xlink:href]="searchIcon"></use>
        </svg>
        <input class="m-search-x-input" type="text" required [formControl]="searchForm.controls.search">
        <div class="m-search-x-controls">
          <div class="m-search-x-clear">
            <button class="m-iconInteractive" type="button" (click)="clearSearch()">

              <span class="t-visuallyHidden">Clear Search</span>

              <div class="m-iconInteractive-x-icon">
                <svg class="t-icon" aria-hidden="true">
                  <use [attr.xlink:href]="dismissIcon"></use>
                </svg>
              </div>
            </button>
          </div>
          <div class="l-buttonTextBar">

            <button type="button" class="m-buttonText" (click)="submitSkillSearch()">
              <span class="m-buttonText-x-text">Skills</span>
            </button>

            <div class="m-divider"></div>

            <button type="button" class="m-buttonText" (click)="submitCollectionSearch()">
              <span class="m-buttonText-x-text">Collections</span>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="m-commonControls-x-controls">
      <div>

        <a class="m-button" routerLink="/skills/create">
          <svg class="m-button-x-icon t-icon">
            <use xlink:href="/assets/images/svg-defs.svg#icon-doc"></use>
          </svg>
          <span class="m-button-x-text">Create Skill</span>
        </a>

        <a class="m-button" routerLink="/collections/create">
          <svg class="m-button-x-icon t-icon">
            <use xlink:href="/assets/images/svg-defs.svg#icon-collection"></use>
          </svg>
          <span class="m-button-x-text">Create Collection</span>
        </a>

        <a class="m-button" href="#">
          <svg class="m-button-x-icon t-icon">
            <use xlink:href="/assets/images/svg-defs.svg#icon-upload"></use>
          </svg>
          <span class="m-button-x-text">Batch Import Skills</span>
        </a>

      </div>
      <div>
        <a class="m-buttonText m-buttonText-onBrand" href="search/advanced">
          <span class="m-buttonText-x-text">Advanced Search</span>
        </a>
      </div>
    </div>
  </div>
</div>
