

<div class="m-commonControls">
    <div class="l-container">
      <!-- {{render '@m-search--with-buttontextbar'}} -->
      <div class="m-search">
        <svg class="m-search-x-icon t-icon">
          <use xlink:href="/assets/images/svg-defs.svg#icon-search"></use>
        </svg>
        <input class="m-search-x-input" type="text" required>
        <div class="m-search-x-controls">
          <div class="m-search-x-clear">
            <button class="m-iconInteractive" type="button">

              <span class="t-visuallyHidden">Clear Search</span>

              <div class="m-iconInteractive-x-icon">
                <svg class="t-icon" aria-hidden="true">
                  <use xlink:href="/assets/images/svg-defs.svg#icon-dismiss"></use>
                </svg>
              </div>

            </button>
          </div>
          <div class="l-buttonTextBar">

            <a class="m-buttonText" href="#">
              <span class="m-buttonText-x-text">Skills</span>
            </a>

            <div class="m-divider"></div>

            <a class="m-buttonText" href="#">
              <span class="m-buttonText-x-text">Collections</span>
            </a>

          </div>
        </div>


      </div>

      <div class="m-commonControls-x-controls">
        <div>

          <a class="m-button" routerLink="/skills/create">
            <svg class="m-button-x-icon t-icon">
              <use xlink:href="/assets/images/svg-defs.svg#icon-doc"></use>
            </svg>
            <span class="m-button-x-text">Create Skill</span>
          </a>

          <a class="m-button" href="#">
            <svg class="m-button-x-icon t-icon">
              <use xlink:href="/assets/images/svg-defs.svg#icon-collection"></use>
            </svg>
            <span class="m-button-x-text">Create Collection</span>
          </a>

          <a class="m-button" href="#">
            <svg class="m-button-x-icon t-icon">
              <use xlink:href="/assets/images/svg-defs.svg#icon-upload"></use>
            </svg>
            <span class="m-button-x-text">Batch Import Skills</span>
          </a>

        </div>

        <div>
          <a class="m-buttonText m-buttonText-alt" href="#">
            <span class="m-buttonText-x-text">Advanced Search</span>
          </a>
        </div>

      </div>



    </div>
  </div>
