<nav class="m-quickLinks" aria-labelledby="header-quicklinks">
  <h3 class="t-visuallyHidden" id="header-quicklinks">Quick Links</h3>
  <a (click)="handleQuicklink('content')">Skip to content</a>
  <a (click)="handleQuicklink('commoncontrols-search')">Skip to search</a>
</nav>

<header aria-labelledby="header-header">
  <h1 class="t-visuallyHidden" id="header-header">Site Header</h1>

  <!-- {{render '@m-navbar'}} -->
  <nav class="m-navBar" id="navBar" aria-labelledby="header-navigation" [class.m-navBar-is-active]="menuExpanded" [class.m-navBar-public]="showPublicNavbar()">
    <h2 class="t-visuallyHidden">Site Navigation</h2>

    <div class="m-navBar-x-container">
      <a class="m-navBar-x-brand" href="#">
        <span class="t-visuallyHidden">Homepage</span>
        <img src="/assets/images/logo-dark.svg" alt="Site logo" aria-hidden="true" width="110" height="24">
      </a>

      <div class="m-navBar-x-tagline">{{whitelabel.toolNameLong}}</div>

      <ul *ngIf="!showPublicNavbar()" class="m-navBar-x-desktopNav">
        <li>
          <button class="m-navItem " mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/skills">RSD Library</button>
            <button mat-menu-item routerLink="/collections">Collections</button>
            <button *ngIf="canHaveWorkspace" mat-menu-item routerLink="/my-workspace">
              My Workspace
            </button>
            <button mat-menu-item routerLink="/metadata">RSD Metadata</button>
          </mat-menu>
        </li>
        <li>
          <a class="m-iconInteractive m-iconInteractive-onDark" routerLink="/logout">
            <span class="t-visuallyHidden">Icon Interactive</span>
            <span class="m-iconInteractive-x-icon">
              <svg aria-hidden="true">
                <use xlink:href="/assets/images/svg-defs.svg#icon-logout"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>

      <button *ngIf="isAuthenticated()"
        (click)="handleClickMenu()"
        [attr.aria-expanded]="menuExpanded"
        class="m-navBar-x-toggle m-iconInteractive m-iconInteractive-onBrand"
        type="button"
        aria-controls="navbarSupportedContent"
        data-nav-bar="navBar">

        <span class="t-visuallyHidden">Toggle Navigation</span>
        <div class="m-iconInteractive-x-icon">
          <div class="l-iconTransition" [class.l-iconTransition-is-toggled]="menuExpanded">
            <svg class="l-iconTransition-x-icon t-icon">
              <use xlink:href="/assets/images/svg-defs.svg#icon-menu"></use>
            </svg>
            <svg class="l-iconTransition-x-replace t-icon">
              <use xlink:href="/assets/images/svg-defs.svg#icon-dismiss"></use>
            </svg>
          </div>
        </div>
      </button>

    </div>

    <div *ngIf="!showPublicNavbar()" class="m-navBar-x-collapse" id="navbarSupportedContent" app-commoncontrols-mobile>
    </div>
  </nav>

  <div *ngIf="!showPublicNavbar()" class="t-hidden-desktopMax">
    <app-commoncontrols></app-commoncontrols>
  </div>
</header>
