
<div class="l-stickyBar">

  <div class="l-container t-padding-large t-padding-top">

<!--    {{render '@listheading'}}-->
    <div class="l-container l-container-mobile t-margin-medium t-margin-bottom">
      <h2 *ngIf="title" class="t-type-heading1 t-margin-small t-margin-bottom">{{title}}</h2>
      <p class="t-type-bodyLarge t-type-text3">
        {{collectionCountLabel}}
        found based on
        <ng-template [ngIf]="matchingQuery !== undefined">
          <ng-template ngFor let-q [ngForOf]="matchingQuery" let-last="last">
            <span class="t-type-bodyLargeBold t-type-text1">{{q}}</span><ng-template [ngIf]="!last">, </ng-template> and
          </ng-template>
        </ng-template>
        your filters.
        <ng-template [ngIf]="totalCount > 0">
          Viewing {{firstRecordNo}}-{{lastRecordNo}}.
        </ng-template>
      </p>
    </div>

    <app-filter-controls
      [selectedFilters]="selectedFilters"
      (filtersChanged)="handleFiltersChanged($event)"
    ></app-filter-controls>

    <div class="t-margin-medium t-margin-bottom">
      <app-blocking-loader [observables]="[resultsLoaded]">
      <p class="t-visuallyHidden">Select one or more collections in the table, or select all in the table heading, then use the action menu to publish, archive, or unarchive the selected collections.</p>
        <app-collection-table
          *ngIf="!emptyResults"
          [allowSorting]="true"
          [items]="results.collections"
          (rowSelected)="handleNewSelection($event)"
          [currentSort]="columnSort"
          (columnSorted)="handleHeaderColumnSort($event)"
          [rowActions]="rowActions()"
          (selectAllSelected)="handleSelectAll($event)"
          [selectAllCount]="getSelectAllCount()"
          [selectAllEnabled]="getSelectAllEnabled()"
          (focusActionBar)="focusActionBar()"
        ></app-collection-table>

        <app-empty-message *ngIf="emptyResults && showSearchEmptyMessage">
          <p class="m-emptyMessage-x-message">No collections found. Try modifying your search terms or filters.</p>
        </app-empty-message>
        <app-empty-message *ngIf="emptyResults && showLibraryEmptyMessage">
          <p class="m-emptyMessage-x-message">0 Collections in library</p>
          <p class="m-emptyMessage-x-message">The library is ready to fill with collections.</p>
          <p class="m-emptyMessage-x-message">
          <a routerLink="/collections/create">Create a collection</a>.
          </p>
        </app-empty-message>
        <app-empty-message *ngIf="emptyResults && !showSearchEmptyMessage">
          <p class="m-emptyMessage-x-message">No collections found. Try adjusting your filters.</p>
        </app-empty-message>
      </app-blocking-loader>
    </div>

    <app-pagination
      [currentPage]="currentPageNo"
      [totalPages]="totalPageCount"
      (pageClicked)="handlePageClicked($event)"
    ></app-pagination>

  </div>

  <div *ngIf="actionsVisible()" class="l-stickyBar-x-bar t-padding-medium t-padding-top">
    <div class="l-container l-container-tablet">
      <app-table-action-bar [actions]="tableActions()"></app-table-action-bar>
    </div>
  </div>

</div>


