<ng-template [ngIf]="!!collection">

  <th scope="row" id="{{id}}-header">
    <a class="t-focus t-type-bodyLink" href="#">{{collection.name}}</a>
  </th>

  <td>{{collection.skillCount}}</td>

  <td>
    <app-status-bar [status]="collection.status"></app-status-bar>
  </td>

  <td class="m-tableRow-x-actions">

    <ng-template [ngIf]="singleRowAction" [ngIfElse]="dotActions">
      <div *ngFor="let action in rowActions">
        <button class="m-button m-button-secondary">
          <span class="m-button-x-text" (click)="action.fire(collection)">{{action.label}}</span>
        </button>
      </div>
    </ng-template>

    <ng-template #dotActions>
      <!-- Items must be grouped-->
      <div>
        <div class="m-checkbox">
          <label class="t-visuallyHidden" for="{{id}}-toggle" aria-labelledby="{{id}}-header">Select</label>
          <input type="checkbox" id="{{id}}-toggle" name="{{id}}-toggle" data-table-row="{{id}}" [checked]="isSelected" (click)="selected()">
          <div class="m-checkbox-x-icon">
            <svg class="t-icon" aria-hidden="true">
              <use [attr.xlink:href]="checkIcon"></use>
            </svg>
          </div>
        </div>
        <div class="m-quickLinks">
          <a href="#">Jump to actions</a>
        </div>
      </div>

      <app-dots-menu [actions]="rowActions" [data]="collection"></app-dots-menu>
    </ng-template>

  </td>

</ng-template>

