.header {
  font-size: 14px;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: solid gray;
  padding: 10px 5px 5px 5px;
  min-width: 120px;
  width: 100%;
}

.chip-wrapper .header {
  position:absolute;
  margin-top:-25px;
  margin-left:10px;
  color: var(--color-interactive2);
  background: var(--color-background300);
  padding:2px 10px;
}

.chip {
  color: var(--color-interactive2);
  width: fit-content;
  padding: 0 10px;
  margin: 5px 1px;
  height: fit-content;
  font-size: 12px;
  border-radius: 25px;
  background-color: var(--color-background200);
}

.close-button {
  padding-left: 10px;
  color: var(--color-interactive2);
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}
