.header {
  font-size: 14px;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: solid gray;
  padding: 10px 5px 5px 5px;
  width: 95%;
}

.chip-wrapper .header {
  position:absolute;
  margin-top:-25px;
  margin-left:10px;
  color:white;
  background: #1f1f1f;
  padding:2px 10px;
}

.chip {
  width: fit-content;
  padding: 0 10px;
  margin: 5px 1px;
  height: fit-content;
  font-size: 12px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #333333;
}

.close-button {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}
