  <app-system-message *ngIf="status === 404"
                      title="We couldn't find the page you wanted"
                      body="Please go back, check the URL, and try again. (404: not found)">
  </app-system-message>

  <app-system-message *ngIf="status === 500"
                      title="Something went wrong with that process"
                      body="We've logged the issue. Please go back and try again. Wait a moment, check the URL, or try refreshing the page. (500: server error)">
  </app-system-message>

  <app-system-message *ngIf="status === 0"
                      title="The site is temporarily down for maintenance"
                      body="We're sorry for the inconvenience. Please check back later.">
  </app-system-message>

