<app-table-header
  [numberSelected]="numberOfSelected()"
  [currentSort]="currentlySortedColumn"
  (columnChanged)="headerColumnSortPerformed($event)"
  (selectAllChanged)="handleSelectAll($event)"
></app-table-header>

<table class="l-table">
  <thead class="t-visuallyHidden">
  <tr>
    <th scope="col">Category</th>
    <th scope="col">Skill</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <ng-template [appLoadingObservables]="[skills]">
    <app-table-row
      *ngFor="let skill of preparedSkills; let i=index"
      [skill]="skill.skill"
      [isSelected]="skill.selected"
      (rowSelected)="onRowToggle($event)"
      id="table-row-{{i}}"
    ></app-table-row>
  </ng-template>
  </tbody>
</table>
