<table class="l-table">
  <thead>
  <tr class="m-tableHeader">
    <th class="t-hidden-tabletMax" scope="col">
      <app-label-with-filter
        label="Category"
        [sortAscending]="getCategorySort()"
        (sortChanged)="sortColumn('category', $event)"
      ></app-label-with-filter>
    </th>

    <th class="t-hidden-tabletMax" scope="col">
      <app-label-with-filter
        label="Rich Skill Descriptor"
        [sortAscending]="getSkillSort()"
        (sortChanged)="sortColumn('name', $event)"
      ></app-label-with-filter>
    </th>

    <th class="m-tableHeader-x-actions" scope="col">
      <!--{{render '@m-tablelabel&#45;&#45;with-choice'}}-->
      <div class="m-tableLabel">
        <label class="m-tableLabel-x-text" for="checkbox">Select ({{getSelectAllCount()}})</label>

        <div class="m-tableLabel-x-control">
          <div class="m-checkbox">
            <input type="checkbox" id="checkbox" name="checkbox" (change)="handleSelectAll($event)">
            <div class="m-checkbox-x-icon">
              <svg class="t-icon" aria-hidden="true">
                <use [attr.xlink:href]="checkIcon"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

    </th>
  </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let skill of preparedSkills; let i=index"
      id="table-row-{{i}}"
      class="m-tableRow"
      [class.m-tableRow-is-selected]="skill.selected"

      app-skill-list-row
      [skill]="skill.skill"
      [isSelected]="skill.selected"
      [rowActions]="rowActions"
      (rowSelected)="onRowToggle($event)"
    ></tr>
  </tbody>
</table>
