<app-table-header
  [numberSelected]="numberOfSelected()"
  (columnClicked)="headerColumnSortPerformed($event)"
  (selectAllEmitter)="selectAll($event)"
></app-table-header>

<table class="l-table">
  <thead class="t-visuallyHidden">
  <tr>
    <th scope="col">Category</th>
    <th scope="col">Skill</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
    <app-table-row
      [skill]="skill.skill"
      [isSelected]="skill.selected"
      (selected)="onRowToggle($event)"
      *ngFor="let skill of preparedSkills"
    ></app-table-row>
  </tbody>
</table>
