<nav class="m-actionBarVertical">
    <hr class="m-rule" />
    <div class="m-actionBarVertical-x-item">
        <button class="m-buttonText m-buttonText-icon">
            <svg class="button-x-icon t-icon">
                <use xlink:href="assets/images/svg-defs.svg#icon-duplicate"></use>
            </svg>
            <span class="button-x-text">
                Copy URL
            </span>
        </button>
    </div>
    <hr class="m-rule" />
    <div class="m-actionBarVertical-x-item">
        <button class="m-buttonText m-buttonText-icon">
            <svg class="button-x-icon t-icon">
                <use xlink:href="assets/images/svg-defs.svg#icon-download"></use>
            </svg>
            <span class="button-x-text">
                Download CSV
            </span>
        </button>
    </div>
    <hr class="m-rule" />
    <div class="m-actionBarVertical-x-item">
        <button class="m-buttonText m-buttonText-icon">
            <svg class="button-x-icon t-icon">
                <use xlink:href="assets/images/svg-defs.svg#icon-download"></use>
            </svg>
            <span class="button-x-text">
                Download JSON
            </span>
        </button>
    </div>
  </nav>