<nav class="l-flex l-flex-alignCenter t-elevation-large">
  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" routerLink="../edit">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="editIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Edit
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>
  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="duplicateIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Make Copy
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>
  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" [routerLink]="publishLinkDestination()">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="publishIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            {{publishLinkText()}}
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>
  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="archiveIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Archive
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>
  <div class="m-actionBarItemHorizontal m-actionBarItemHorizontal">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="dismissIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Add
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </div>
</nav>
