<nav class="l-flex l-flex-alignCenter t-elevation-large">
  <button *ngIf="!isImported" type="button" class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" routerLink="../edit">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="editIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Edit
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </button>

  <button type="button" class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" routerLink="../duplicate">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="duplicateIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Make Copy
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </button>

  <ng-container *ngIf="isImported">
    <button type="button" class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" (click)="handleExternalUrl()">
      <svg class="m-actionBarItemHorizontal-x-icon t-icon">
        <use [attr.xlink:href]="externalIcon"></use>
      </svg>
      <span class="m-actionBarItemHorizontal-x-label m-buttonText">
            <span class="button-x-text">
              View External RSD
            </span>
          </span>
      <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
    </button>

    <button type="button" class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary" (click)="handleRemove()">
      <svg class="m-actionBarItemHorizontal-x-icon t-icon">
        <use [attr.xlink:href]="removeIcon"></use>
      </svg>
      <span class="m-actionBarItemHorizontal-x-label m-buttonText">
            <span class="button-x-text">
              Remove From Library
            </span>
          </span>
      <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
    </button>
  </ng-container>

  <button
    type="button"
    class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary"
    (click)="handlePublish()"
    *ngIf="!isImported && !published"
  >
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="publishIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            {{publishLinkText()}}
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </button>

  <button
    type="button"
    class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary"
    (click)="handleArchive()"
    *ngIf="!isImported && !archived; else unarchive"
  >
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="archiveIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Archive
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </button>
  <ng-template #unarchive>
    <button
      type="button"
      class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary"
      (click)="handleUnarchive()"
      *ngIf="!isImported && archived"
    >
      <svg class="m-actionBarItemHorizontal-x-icon t-icon">
        <use [attr.xlink:href]="archiveIcon"></use>
      </svg>
      <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Unarchive
          </span>
        </span>
      <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
    </button>
  </ng-template>

  <ng-container *ngIf="externalShareEnabled && (published || isExternallyShared)">
    <button
      type="button"
      class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary"
      (click)="handleShareExternally()"
      *ngIf="!isExternallyShared; else unshare"
    >
      <svg class="m-actionBarItemHorizontal-x-icon t-icon">
        <use [attr.xlink:href]="shareIcon"></use>
      </svg>
      <span class="m-actionBarItemHorizontal-x-label m-buttonText">
            <span class="button-x-text">Share to Search Hub</span>
          </span>
      <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
    </button>
    <ng-template #unshare>
      <button
        type="button"
        class="m-actionBarItemHorizontal m-actionBarItemHorizontal-secondary"
        (click)="handleUnshareExternally()"
      >
        <svg class="m-actionBarItemHorizontal-x-icon t-icon">
          <use [attr.xlink:href]="unshareIcon"></use>
        </svg>
        <span class="m-actionBarItemHorizontal-x-label m-buttonText">
            <span class="button-x-text">Unshare from Search Hub</span>
          </span>
        <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
      </button>
    </ng-template>
  </ng-container>

  <button type="button" class="m-actionBarItemHorizontal m-actionBarItemHorizontal" (click)="onAddToCollection()">
    <svg class="m-actionBarItemHorizontal-x-icon t-icon">
      <use [attr.xlink:href]="addIcon"></use>
    </svg>
    <span class="m-actionBarItemHorizontal-x-label m-buttonText">
          <span class="button-x-text">
            Add To Collection
          </span>
        </span>
    <div class="m-actionBarItemHorizontal-x-divider m-divider m-divider-large"></div>
  </button>
</nav>
