# Referenced from: http://www.sonatype.org/nexus/2017/02/14/using-nexus-3-as-your-repository-part-2-npm-packages/
# Project Nexus Server
registry=https://nexus.osmt.com/repository/npm-private/
always-auth=true

# Generated via:  echo -n 'username:password' | openssl base64
_auth=bndvd19ucG06REdQMHFySTM4ZHhKZ1d0WGE1bHY=
# _auth=dXNlcm5hbWU6cGFzc3dvcmQ=