# Referenced from: http://www.sonatype.org/nexus/2017/02/14/using-nexus-3-as-your-repository-part-2-npm-packages/
# Project Nexus Server
registry=https://nexus.osmt.dev/repository/npm-private/

# Generated via:  echo -n 'username:password' | openssl base64
_auth=bnBtLXJlYWQ6eFcyOUw4cm5DeTRLMkhDcXM4c3I=




