<ng-template [ngIf]="!!skill">

  <th scope="row" id="{{id}}-header">
    <div class="t-hidden-tabletMax">{{skill.category}}</div>

    <div class="t-hidden-tabletMin">
      <!--{{render '@m-inlineheading'}}-->
      <div class="m-inlineHeading">
        <h5 class="m-inlineHeading-x-heading">Category:</h5>
        <p class="m-inlineHeading-x-text">{{skill.category}}</p>
      </div>
    </div>
  </th>

  <td>

    <h4 class="t-margin-extraSmall t-margin-bottom" tabindex="0">
      <a id="{{id}}-name" class="t-focus t-type-bodyLink" routerLink="/skills/{{skill.uuid}}/manage">{{skill.skillName}}</a>
    </h4>

    <p class="t-margin-small t-margin-bottom t-color-text3">{{skill.skillStatement}}</p>

    <div class="t-margin-small t-margin-bottom">
      <app-status-bar
        [status]="skill.status"
        [publishDate]="skill.publishDate"
        [archiveDate]="skill.archiveDate"
        [showDates]="false"
      ></app-status-bar>
    </div>

    <div class="t-margin-small t-margin-bottom" *ngIf="getFormattedKeywords()">
      <div class="m-inlineHeading m-inlineHeading-is-truncated">
        <h5 class="m-inlineHeading-x-heading">Keywords:</h5>
        <p class="m-inlineHeading-x-text">{{getFormattedKeywords()}}</p>
      </div>
    </div>

    <div class="t-margin-small t-margin-bottom" *ngIf="getFormattedOccupations()">
      <div class="m-inlineHeading m-inlineHeading-is-truncated">
        <h5 class="m-inlineHeading-x-heading">Detailed Occupations:</h5>
        <p class="m-inlineHeading-x-text">{{getFormattedOccupations()}}</p>
      </div>
    </div>

  </td>

  <td class="m-tableRow-x-actions">

    <!-- Items must be grouped-->
    <div>
      <div class="m-checkbox">
        <label class="t-visuallyHidden" for="{{id}}-toggle" aria-labelledby="{{id}}-header">Select this Skill.</label>
        <input type="checkbox" id="{{id}}-toggle" name="{{id}}-toggle" data-table-row="{{id}}" [checked]="isSelected" (click)="selected()">
        <div class="m-checkbox-x-icon">
          <svg class="t-icon" aria-hidden="true">
            <use [attr.xlink:href]="checkIcon"></use>
          </svg>
        </div>
      </div>
      <div class="m-quickLinks">
        <a (click)="focusActionBar.emit()">Actions menu.</a>
      </div>
    </div>

    <app-dots-menu [actions]="rowActions" [data]="skill"></app-dots-menu>
  </td>


</ng-template>
