# Spring Boot is configured to serve front end files via port 8080. Uncomment this line when you use
# ng serve for front end development, or export OSMT_FRONT_END_PORT=4200 to your shell.
#OSMT_FRONT_END_PORT=4200

# Uncomment this line when you use the noauth Spring security profile for front end development,
# or export OSMT_SECURITY_PROFILE=noauth to your shell.
#OSMT_SECURITY_PROFILE=noauth

OAUTH_ISSUER=https://xxxxxx.okta.com
OAUTH_CLIENTID=xxxxxx
OAUTH_CLIENTSECRET=xxxxxx
OAUTH_AUDIENCE=xxxxxx
