# Spring Boot is configured to serve front end files via port 8080
# Uncomment this line when you use ng serve for front end development, or export OSMT_FRONT_END_PORT=4200 to your shell
# OSMT_FRONT_END_PORT=4200

OAUTH_ISSUER=https://xxxxxx.okta.com
OAUTH_CLIENTID=xxxxxx
OAUTH_CLIENTSECRET=xxxxxx
OAUTH_AUDIENCE=xxxxxx
