<div class="l-container l-container-mobile t-margin-medium t-margin-bottom">
  <h3 class="t-visuallyHidden">Filters</h3>
<!--  {{render '@l-filtercontrols'}}-->
  <div class="filter-section">
    <div class="l-filterControls">
      <app-filter-choice
        label="Draft"
        [isChecked]="isDraftChecked"
        (filterChanged)="onFilterChangeDraft($event)"
      ></app-filter-choice>
      <app-filter-choice
        label="Published"
        [isChecked]="isPublishedChecked"
        (filterChanged)="onFilterChangePublished($event)"
      ></app-filter-choice>
      <app-filter-choice
        label="Archived"
        [isChecked]="isArchivedChecked"
        (filterChanged)="onFilterChangeArchived($event)"
      ></app-filter-choice>
    </div>
    <div>
      <app-filter-dropdown (applyFilter)="applyFilter($event)" [keywords]="keywords">
      </app-filter-dropdown>
    </div>
  </div>
</div>
<div class="chips-container">
  <app-filter-chips
    name="category"
    [keywords]="keywords.categories"
    *ngIf="keywords.categories?.length > 0">
  </app-filter-chips>
  <app-filter-chips
    name="keywords"
    [keywords]="keywords.keywords"
    *ngIf="keywords.keywords?.length > 0">
  </app-filter-chips>
  <app-filter-chips
    name="standards"
    [keywords]="keywords.standards"
    *ngIf="keywords.standards?.length > 0">
  </app-filter-chips>
  <app-filter-chips
    name="certifications"
    [keywords]="keywords.certifications"
    *ngIf="keywords.certifications?.length > 0">
  </app-filter-chips>
  <app-filter-chips
    name="occupations"
    [keywords]="keywords.occupations"
    *ngIf="keywords.occupations?.length > 0">
  </app-filter-chips>
  <app-filter-chips
    name="employers"
    [keywords]="keywords.employers"
    *ngIf="keywords.employers?.length > 0">
  </app-filter-chips>
</div>

