<div class="l-filterControls">
  <app-filter-choice
    label="Draft"
    [isChecked]="draftSelected"
    (changeEmitter)="onFilterChange('draft', $event)"
  ></app-filter-choice>
  <app-filter-choice
    label="Published"
    [isChecked]="publishSelected"
    (changeEmitter)="onFilterChange('published', $event)"
  ></app-filter-choice>
  <app-filter-choice
    label="Archived"
    [isChecked]="archivedSelected"
    (changeEmitter)="onFilterChange('archived', $event)"
  ></app-filter-choice>
</div>

